<main id="content" class="mw-body">
	{{>Sidebar}}
	<div id="main" role="main" data-mw-ve-target-container>
	{{>ContentHeading}}
	{{>ContentTagline}}
	{{>ContentBody}}
	{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
	</div>
</main>
